# Introduccion a Pandas

In [4]:
import pandas as pd # el estandar es colocar como alias pd

In [5]:
pd.__version__

'1.4.1'

In [6]:
# instalacion de libreria
!pip install pandas

Requirement already satisfied: pandas in c:\users\gon_2\anaconda3\lib\site-packages (1.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gon_2\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gon_2\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\gon_2\anaconda3\lib\site-packages (from pandas) (1.22.2)
Requirement already satisfied: six>=1.5 in c:\users\gon_2\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

http://pandas.pydata.org/

Pandas es la extensión logica de numpy al mundo del Análisis de datos. 

De forma muy general, Pandas extrae la figura del Dataframe conocida por aquellos que usan R a python.

Un pandas dataframe es una tabla, lo que es una hoja de excel, con filas y columnas.

En pandas cada columna es una Serie que esta definida con un numpy array por debajo.

### Qué puede hacer pandas por ti?

- Cargar datos de diferentes recursos
- Búsqueda de una fila o columna en particular
- Realización de calculos estadísticos
- Processamiento de datos
- Combinar datos de múltiples recursos

# 1. Creación y Carga de Datos
---------------------------------

`Pandas` puede leer archivos de muchos tipos, csv, json, excel entre otros

Para esta seccion aprenderemos a crear un Dataframe de 0 y a leer archivos de diferentes fuentes de información.

<img src='https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>

### 1.1 Creación de dataframes

A partir de datos almacenados en diccionarios o listas es posible crear dataframes

`pd.Dataframe()`

In [9]:
# creación de 'df' a partir de un diccionario 
dicx= {
    # col_name: [datos de columna]
    "nombre": ["Rick", "Morty", None],
    "apellido": ["Sanchez", "Smith", None],
    "edad": [60, 14, 36]
    }

# df -> obteniendo un dataFrame
df_rick_morty = pd.DataFrame(dicx)

# mostrando data
df_rick_morty

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14
2   None     None    36

In [11]:
# creacion de df a partir de una lista
lista = [
            ["Rick", "Sanchez", 60], # cada elemento de mi lista es otra lista
            ["Morty", "Smith", 14] # cada sub lista es una fila para el Df
]

# nombre de columnas
columnas= ["nombre", "apellido", "edad"]

df_rick_morty = pd.DataFrame(lista, columns = columnas)
df_rick_morty

  nombre apellido  edad
0   Rick  Sanchez    60
1  Morty    Smith    14

In [12]:
# tipo de dato de dataframe 
type(df_rick_morty)

pandas.core.frame.DataFrame

### 1.2 Carga de datos a partir de fuentes de información

Pandas soporta múltiples fuentes de información entre los que estan csv , sql, json,excel, etc

Para leer un archivo siempre iniciamos con : `pd.read_`

In [39]:
# cada tipo de fuente o archivo, va a tener una forma diferente de leerlo


## Leyendo data de un "csv"

# (path, separador de archivo)

path = './src/input/primary_results.csv'
df = pd.read_csv(path, sep=',')


#.read_csv('./src/input/primary_results.csv',sep=',')

In [14]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [15]:
## Leyendo data de un archivo "excel"

# (path, hoja_excel)

path = "./src/input/fallecidos_covid.xlsx"
df_excel = pd.read_excel(path, sheet_name='fallecidos_covid')

In [16]:
# head() -> me muestra los 5 primeros registros de mi df
df_excel.head(2)

,FECHA_CORTE,UUID,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO
0,20210811,8ff6ea53-1467-456b-92ef-4e001ff8a2d6,20210725,65,MASCULINO,Criterio virolÃ³gico,AREQUIPA,ISLAY,PUNTA DE BOMBON,40706.0
1,20210811,71be5780-1e0d-4092-9036-af6d408d66e5,20210618,37,MASCULINO,Criterio SINADEF,PUNO,SAN ROMAN,JULIACA,211101.0

In [17]:
df_excel.shape

(197209, 10)

In [35]:
# concatenando archivos similares de carpeta

import os
folder = './src/input/archivos_iguales'

os.listdir(folder)

['boston_dataset_1.csv',
 'boston_dataset_2.csv',
 'boston_dataset_3.csv',
 'boston_dataset_4.csv']

In [36]:


df_merge = None # leo los antiguos pd.read_excel(path, hoja)
for file in os.listdir(folder):
    path = f'{folder}/{file}'
    
    # leo df de path
    df = pd.read_csv(path)
    
    # concatenamos en df_merge
    df_merge = pd.concat([df_merge,df ]) if df_merge is not None else df

In [37]:
df_merge

,TOWN,LON,LAT,MEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,Nahant,-70.9550,42.2550,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,Swampscott,-70.9500,42.2875,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,Swampscott,-70.9360,42.2830,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,Marblehead,-70.9280,42.2930,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,Marblehead,-70.9220,42.2980,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,Winthrop,-70.9860,42.2312,22.4,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,Winthrop,-70.9910,42.2275,20.6,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,Winthrop,-70.9948,42.2260,23.9,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,Winthrop,-70.9875,42.2240,22.0,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,Winthrop,-70.9825,42.2210,19.0,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [ ]:
df_merge.to_

# 2. Exploración de la Data
-----------------------------

La exploración de datos es la etapa donde obtenemos informacion sobre la data cargada, información como: cantidad de registros, visualizar registros de la data, cantidad de columnas, tipos de datos de las columnas, nombre de columnas, etc

`shape` nos devuelve el número de filas y columnas

In [18]:
df.shape

(24611, 8)

`head` retorna los primertos 5 resultados contenidos en el dataframe (df)

In [24]:
# head retorna los primeros 5 resultados del dataframe
df.head(5)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

`tail` retorna los 5 últimos resultados contenidos en el dataframe (df)

In [25]:
# tail -> retorna los últimos 5 resultados del df
df.tail()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.0
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.0
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

`dtypes` nos indica el tipo de dato para cada una de las columnas del df

In [26]:
df.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

`columns` nos indica las columnas que conforman el df

In [27]:
df.columns

Index(['state', 'state_abbreviation', 'county', 'fips', 'party', 'candidate',
       'votes', 'fraction_votes'],
      dtype='object')

`describe` nos brinda un resumen de la cantidad de datos, promedio, desviación estandar, minimo, máximo, etc de los datos de las columnas posibles

In [28]:
# Describe -> nos brinda un resumen de la cantidad de datos, promedio, desviación estandar, minimo, máximo, etc 
# de los datos de las columnas posibles
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

# 3. Seleccionando Filas y columnas 
----------------------------

### 3.1 Seleccion de Columnas

In [40]:
df.columns

Index(['state', 'state_abbreviation', 'county', 'fips', 'party', 'candidate',
       'votes', 'fraction_votes'],
      dtype='object')

In [41]:
df.head(1)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182

In [42]:
for c in df.columns:
    print(c)

state
state_abbreviation
county
fips
party
candidate
votes
fraction_votes

Seleccionamos una columna mediante '[]' como si el dataframe fuese un diccionario

In [45]:
# Seleccion de una única columna
df['candidate'].head(6)

0     Bernie Sanders
1    Hillary Clinton
2     Bernie Sanders
3    Hillary Clinton
4     Bernie Sanders
5    Hillary Clinton
Name: candidate, dtype: object

In [46]:
# tambien es posible la seleccion de este modo
df.candidate.head()

0     Bernie Sanders
1    Hillary Clinton
2     Bernie Sanders
3    Hillary Clinton
4     Bernie Sanders
Name: candidate, dtype: object

In [47]:
# Seleccion de más de una columna
columns_select = ['state','state_abbreviation'] # colocamos en una lista las columnas que deseamos
df[columns_select].head()

     state state_abbreviation
0  Alabama                 AL
1  Alabama                 AL
2  Alabama                 AL
3  Alabama                 AL
4  Alabama                 AL

In [54]:
df.iloc[2:9:2, 1:8]

,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
2,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
4,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
6,AL,Bibb,1007.0,Democrat,Bernie Sanders,246,0.197
8,AL,Blount,1009.0,Democrat,Bernie Sanders,395,0.386

In [49]:
df["state"][2:100]

2     Alabama
3     Alabama
4     Alabama
5     Alabama
6     Alabama
       ...
95    Alabama
96    Alabama
97    Alabama
98    Alabama
99    Alabama
Name: state, Length: 98, dtype: object

### 3.2 Seleccion de Filas

In [55]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

La columna a la izquierda del state es el index. Un dataframe tiene que tener un index, que es la manera de organizar los datos.

In [56]:
# nos indica el punto de inicio y fin del indice para el df
df.index

RangeIndex(start=0, stop=24611, step=1)

podemos seleccionar una fila mediante su index.

In [58]:
df.loc[0:10]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
5,Alabama,AL,Barbour,1005.0,Democrat,Hillary Clinton,2567,0.906
6,Alabama,AL,Bibb,1007.0,Democrat,Bernie Sanders,246,0.197
7,Alabama,AL,Bibb,1007.0,Democrat,Hillary Clinton,942,0.755
8,Alabama,AL,Blount,1009.0,Democrat,Bernie Sanders,395,0.386
9,Alabama,AL,Blount,1009.0,Democrat,Hillary Clinton,564,0.551
10,Alabama,AL,Bullock,1011.0,Democrat,Bernie Sanders,178,0.066

**Importante:** 

df.loc selecciona por indice, no por posición. Podemos cambiar el indice a cualquier otra cosa, otra columna o una lista separada, siempre que el nuevo indice tenga la misma longitud que el Dataframe

In [59]:
df2 = df.set_index("county").copy()

In [60]:
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Barbour,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

In [61]:
df2.index

Index(['Autauga', 'Autauga', 'Baldwin', 'Baldwin', 'Barbour', 'Barbour',
       'Bibb', 'Bibb', 'Blount', 'Blount',
       ...
       'Sweetwater-Carbon', 'Sweetwater-Carbon', 'Teton-Sublette',
       'Teton-Sublette', 'Teton-Sublette', 'Teton-Sublette', 'Uinta-Lincoln',
       'Uinta-Lincoln', 'Uinta-Lincoln', 'Uinta-Lincoln'],
      dtype='object', name='county', length=24611)

Esto va a fallar por que df2 no tiene un indice numérico.

In [62]:
df2.loc[0] # loc -> dado que el indice 0 ya no existe

KeyError: 0

Ahora podemos seleccionar por condado

In [63]:
df2.loc["Teton-Sublette"] # seleccionamos filas cuyo indice sea 'Teton-Sublette'

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Teton-Sublette,Wyoming,WY,95600028.0,Republican,Donald Trump,21,0.525
Teton-Sublette,Wyoming,WY,95600028.0,Republican,John Kasich,0,0.000
Teton-Sublette,Wyoming,WY,95600028.0,Republican,Marco Rubio,19,0.475
Teton-Sublette,Wyoming,WY,95600028.0,Republican,Ted Cruz,0,0.000

Si queremos seleccionar por el numero de fila independientemente del índice, podemos usar `iloc`

In [64]:
df2.iloc[100]

state                        Alabama
state_abbreviation                AL
fips                          1101.0
party                       Democrat
candidate             Bernie Sanders
votes                           4266
fraction_votes                 0.128
Name: Montgomery, dtype: object

In [65]:
df2.iloc[20:25]

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Chilton,Alabama,AL,1021.0,Democrat,Bernie Sanders,289,0.246
Chilton,Alabama,AL,1021.0,Democrat,Hillary Clinton,860,0.731
Choctaw,Alabama,AL,1023.0,Democrat,Bernie Sanders,273,0.124
Choctaw,Alabama,AL,1023.0,Democrat,Hillary Clinton,1772,0.802
Clarke,Alabama,AL,1025.0,Democrat,Bernie Sanders,213,0.063

In [66]:
# volviendo el indice a su valor inicial
df2.reset_index(drop=True, inplace=True) # inplace -> se encarga de efectuar el cambio sobre el df

In [67]:
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

# 4. Filtrado de Información
------------------------------

Podemos filtrar un dataframe mediante condiciones booleanas sobre columnas

In [68]:
# condicion -> se encarga de establecer la condicion de Verdad o Falsedad 
condicion = df['votes']>=590502
condicion

0        False
1        False
2        False
3        False
4        False
         ...
24606    False
24607    False
24608    False
24609    False
24610    False
Name: votes, Length: 24611, dtype: bool

In [69]:
# usando la condicion como filtro
cond = (df['votes']>=590502)
df[cond]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57

podemos concatenar varias condiciones usando `&` para **AND** ,  `|` para **OR** y `~` como **NOT** o negacion.

Tambien debemos recordar los operadores: `==` , `!=` , `>`, `<` , `>=` , `<=`

In [70]:
cond = (df.county=="Manhattan") & (df.party=="Democrat")
df[cond]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663

In [75]:
cols = ['state', 'county', 'party', 'votes']
df[cond][cols]

          state     county     party   votes
15011  New York  Manhattan  Democrat   90227
15012  New York  Manhattan  Democrat  177496

In [76]:
cols = ['state', 'county', 'party', 'votes']
df_x = df[cond]
df_x[cols]

          state     county     party   votes
15011  New York  Manhattan  Democrat   90227
15012  New York  Manhattan  Democrat  177496

Para ver más formas de filtrado [ver](https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9)

# 5. Procesamiento de Datos
------------------------------

In [77]:
df.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800

podemos usar `sort_values` para orderar el dataframe acorde al valor de una columna o múltiples columnas

In [79]:
df_sorted = df.sort_values(by=["votes","county"], ascending=[False, False])
df_sorted.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536

utilizaremos `groupby` para realizar agrupamientos de informacion sobre una columnas

In [80]:
df.groupby(["state", "party"])

El agrupamiento de datos implica utilizar funciones de agregacion como: `count`, `sum`, `mean`, `min`, `max` a una columna del df

In [81]:
df.groupby(["state", "party"])["votes"].sum()

state          party
Alabama        Democrat       386327
               Republican     837632
Alaska         Democrat          539
               Republican      21930
Arizona        Democrat       399097
                              ...
West Virginia  Republican     188138
Wisconsin      Democrat      1000703
               Republican    1072699
Wyoming        Democrat          280
               Republican        903
Name: votes, Length: 95, dtype: int64

Es posible añadir una nueva columna al df utilizando un valor en especifico

In [82]:
# creo una columna 'nueva_columna' con el valor de 1 
df['nueva_columna'] = 1 
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1

podemos usar `apply` en una columna para obtener una nueva columna en función de sus valores

In [83]:
def estado_votacion(votos:int)->str:
    
    if votos>50000:
        return "Gran Cantidad de Votos"
    else:
        return "Pocos votos"

In [85]:
estado_votacion(5100)

'Pocos votos'

In [86]:
df['nueva_columna'] = df.votes.apply(estado_votacion)

In [89]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,Pocos votos
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,Pocos votos
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,Pocos votos
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,Pocos votos
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,Pocos votos

In [90]:
obtener_primer_letra = lambda s: s[0]

In [91]:
obtener_primer_letra('Hola')

'H'

In [92]:
# creo una nueva columna a partir de los datos de otra
df['letra_inicial'] = df.state_abbreviation.apply(lambda s: s[0])  # obtengo primera letra de state_abbreviation

In [93]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,letra_inicial
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,Pocos votos,A
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,Pocos votos,A
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,Pocos votos,A
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,Pocos votos,A
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,Pocos votos,A

In [94]:
df.groupby("letra_inicial")["votes"].sum().sort_values()

letra_inicial
H      46886
D     160416
R     179594
U     254203
L     585781
K     760181
S    1225289
V    1984632
G    2032941
A    2686599
W    3010087
P    3176340
F    3940929
O    4904270
T    5348465
C    5590683
I    5657521
N    7329864
M    7884506
Name: votes, dtype: int64

Podemos unir dos dataframes en funcion de sus columnas comunes usando `merge`

La operacion merge implica combinar 2 df a partir de uno o más valores llave o `key`

<img src='./img/merge.png'>

In [95]:
# Descargamos datos de pobreza por condado en US en https://www.ers.usda.gov/data-products/county-level-data-sets/county-level-data-sets-download-data/
df_pobreza = pd.read_csv("./src/input/PovertyEstimates.csv")

In [96]:
df_pobreza.head()

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9
4     1005            32.0

In [97]:
df.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,letra_inicial
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,Pocos votos,A
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,Pocos votos,A

In [98]:
# Combinando ambas fuentes de datos en un único dataframe a partir de los valores llave
df = df.merge(df_pobreza, left_on="fips", right_on="FIPStxt")
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,letra_inicial,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,Pocos votos,A,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,Pocos votos,A,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,Pocos votos,A,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,Pocos votos,A,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,Pocos votos,A,1001,12.7

Como punto general existen diferentes formas de combinar los dataframe, siendo el método `inner` el utilizado por defecto

<img src='./img/merge_tipos.png'>

Como punto final aplicamos un agrupamiento aplicando múltiples funciones de agregacion al df

In [58]:
county_votes = df.groupby(["county","party"]).agg({
    "fraction_votes":"mean",
    "PCTPOVALL_2015": "mean"   
   }
)

In [59]:
county_votes

                      fraction_votes  PCTPOVALL_2015
county    party
Abbeville Democrat          0.494000            19.1
          Republican        0.166667            19.1
Acadia    Democrat          0.425500            23.7
          Republican        0.241750            23.7
Accomack  Democrat          0.497000            20.4
...                              ...             ...
Zapata    Republican        0.188400            30.9
Zavala    Democrat          0.468000            32.0
          Republican        0.000000            32.0
Ziebach   Democrat          0.500000            47.1
          Republican        0.333333            47.1

[3267 rows x 2 columns]

# 6. Exportación de datos
----------------------------------

`Pandas` viene equipado con una amplia gama de opciones para la exportación de información.

podemos escribir a excel, necesitamos instalar el paquete `xlwt`

<img src='https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>

In [99]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,letra_inicial,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,Pocos votos,A,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,Pocos votos,A,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,Pocos votos,A,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,Pocos votos,A,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,Pocos votos,A,1001,12.7

In [101]:
## Expotanción con "encoding" e "index False"

df.to_excel('./src/output/data_partidos.xlsx',
            sheet_name='data',encoding='utf-8', index=False
           )

In [102]:
## Exportando a csv
path = './src/output/data_partidos.csv'
df.to_csv(path, sep='|' ,index=False)

In [ ]:
## Exportamos archivo a html

with open('./out/data.html',mode='w') as f:
    f.write(df.to_html())

In [ ]:
df.to_csv('./out/data_partidos.csv',sep='|',encoding='utf-8',index=False)

# Ejercicios
---------------------------------------------

1. A partir de la data recien generada "data_partidos.xlsx", debemos generar un archivo que contenda unicamente la información contenida por cada uno de los estados.

In [104]:
## Exportando df a excel
df_excel = pd.read_excel('./src/output/data_partidos.xlsx',sheet_name='data')

In [105]:
df_excel.head(2)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,nueva_columna,letra_inicial,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182,Pocos votos,A,1001,12.7
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800,Pocos votos,A,1001,12.7

In [107]:
df_excel.state.unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kentucky', 'Louisiana', 'Maryland', 'Michigan',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [109]:
for state in df_excel.state.unique():
    print(f'Procesando {state} ...')
    
    # filtrar el df
    cond = (df.state == state)
    df_filter = df[cond]
    
    # 
    excel_name = state.lower().replace(' ', '_')
    path = f'./src/output/reportes/{excel_name}.xlsx'
    df_filter.to_excel(path, sheet_name=excel_name, index=False)
print('Done!')

Procesando Alabama ...
Procesando Arizona ...
Procesando Arkansas ...
Procesando California ...
Procesando Colorado ...
Procesando Delaware ...
Procesando Florida ...
Procesando Georgia ...
Procesando Hawaii ...
Procesando Idaho ...
Procesando Illinois ...
Procesando Indiana ...
Procesando Iowa ...
Procesando Kentucky ...
Procesando Louisiana ...
Procesando Maryland ...
Procesando Michigan ...
Procesando Mississippi ...
Procesando Missouri ...
Procesando Montana ...
Procesando Nebraska ...
Procesando Nevada ...
Procesando New Jersey ...
Procesando New Mexico ...
Procesando New York ...
Procesando North Carolina ...
Procesando Ohio ...
Procesando Oklahoma ...
Procesando Oregon ...
Procesando Pennsylvania ...
Procesando South Carolina ...
Procesando South Dakota ...
Procesando Tennessee ...
Procesando Texas ...
Procesando Utah ...
Procesando Virginia ...
Procesando Washington ...
Procesando West Virginia ...
Procesando Wisconsin ...
Procesando Wyoming ...
Done!