# VARIABLES, TIPOS DE DATOS SIMPLES Y OPERADORES

En programación este apartado aprenderas a utilizar los diferentes tipos de datos que se encuentran disponibles en python, asi como declarar variables y realizar operaciones.

## 1. Variables

Una variable es un identificador que representa un espacio en la memoria. A este espacio se le puede asignar un valor para utilizarlo posteriormente como si se tratase de un valor literal, incluso se puede operar con otras variables y reasignarle otro valor en cualquier momento.

**La variable me permite almacenar en la memoria de la computadora un valor (numero, texto, etc)**

<center><img src="https://www.javadesdecero.es/wp-content/uploads/2017/12/C%C3%B3mo-declarar-variables-Java.png" ></center>

#### 1.1 Declaración de variables en otros lenguajes

1. Se declara la variable con su tipo de dato
2. Se asigna un valor a la variable

<img src='https://www.w3schools.in/wp-content/uploads/2015/03/Declaration-and-assignment-statements.png'  align='left' width="600" height="400" >

#### 1.2 Declaración de variables en Python

1. Se asigna un valor a una variable (no es necesario declarar tipo de dato)
2. Python por defecto interpreta el tipo de dato según el valor recibido

In [2]:
## 1. Declaremos una variable para mejorar que nos ayude a enviar un mensaje al usuario
print('Hola Mundo')

Hola Mundo

In [1]:
## 2. Declarando una variable, la cual contiene un texto
mensaje = "Hola Mundo"
print(mensaje)

Hola Mundo

### Ejercicio

Cree una variable llamada <code>msg</code> la cual almacene un mensaje. Luego imprima dicho mensaje

## 2. Tipo de Datos

En la programación todo se resume a datos que representan información. Dicha información en terminos simples la podemos ver como:
- Cadenas de texto o strings
- Números
- fechas
- imágenes
- sonidos
- vídeos
- Etc.

<img src='https://image.slidesharecdn.com/python1-140515085114-phpapp01/95/introduccion-a-python-clase-1-8-638.jpg?cb=1400143933' align='left' width="800" height="600">

### 2.2 Tipo de Dato texto

Inmediatamente después de los números hay que echar un vistazo a las cadenas de texto, a fin de cuentas es la forma como las personas nos comunicamos de forma escrita. Las letras o caracteres son en definitiva símbolos de escritura y otro tipo de dato esencial.

Siempre se definen entre comillas simples o dobles:

In [5]:
# Usando comillas simples
'Esta es una cadena de texto'

'Esta es una cadena de texto'

In [6]:
# Cadena usando comillas dobles
"Esta es otra cadena de texto"

'Esta es otra cadena de texto'

In [9]:
# Cadena de más de una linea

"""
Esta cadena tiene más de una línea
por lo que se usa
3 comillas dobles
dasdas
"""

# \n -> representa un salto de linea

'\nEsta cadena tiene más de una línea\npor lo que se usa\n3 comillas dobles\ndasdas\n'

In [10]:
msg = """
Esta cadena tiene más de una línea
por lo que se usa
3 comillas dobles
dasdas
"""

print(msg)

Esta cadena tiene más de una línea
por lo que se usa
3 comillas dobles
dasdas

- Almacenando cadenas en variables

In [ ]:
# Recuerda que podemos utilizar variables para almacenar una cadena de texto
texto = "Este es un texto"

#### Algunas Operaciones Basicas de Cadena

Una vez que ya conocemos que es una cadena veamos algunas operaciones básicas con las cadenas de texto

In [11]:
cad1 = "Hola"
cad2 = "Mundo"

In [12]:
## Concadenar dos cadenas de texto

print("Un divertido "+"programa "+"de "+ "radio")

## Usando variables
# Esto es igual a : "HolaMundo"
cad1 = "Un divertido "
cad2 = "programa"

print(cad1 + cad2)

Un divertido programa de radio
Un divertido programa

In [13]:
## Multiplicar una cadena 
print('Hola')
print('Hola'*3)

Hola
HolaHolaHola

In [16]:
## Conocer largo de una cadena
len('Hola') # cadena de 4 caracteres

4

In [17]:
## Identificando el tipo de dato
y = 'h'
type(y)

str

In [25]:
type(3.0)

float

In [18]:
## Convirtiendo a string
str(3)

'3'

### 2.2.Tipos de Datos Numéricos

Representan valores numéricos.
- Enteros (int): Representan números enteros  5, 7
- Decimales (float): Representan valores decimales  3.14, 7.9

In [26]:
# Int -> Valores enteros
3

3

In [27]:
x = 5
print(x)

5

In [28]:
# Float -> Representan valores con coma decimal
3.14

3.14

In [29]:
y = 8.17
print(y)

8.17

#### Identificando los tipos de datos

In [30]:
type(8)

int

In [31]:
p = 12.34234
type(p)

float

#### Operaciones sobre números

Representan el conjunto de operaciones básicas de tipo numéricas

<img src='./img/operadores.png'>

In [32]:
## Indistintamente si un numero es "int" or "float" es posible realizar operaciones sobre ellos
numero_1 = 12
numero_2 = 8.5

In [33]:
# sumando
print(numero_1 + numero_2)

# Restando 
print(numero_1 - numero_2)

# Multiplicando: 12 * 2 = 24
print(numero_1 * 2)

# Diviendo : 12 / 2 = 6
print(numero_1 / 2)

# Potencia : 12 ** 2 = 144
print(numero_1 ** 2)

20.5
3.5
24
6.0
144

In [35]:
# division entera -> retorna la parte entera de la division (cociente)
c = 21//10
c

2

In [37]:
## Módulo de un número -> Me brinda el residuo de la división entre dos numeros
## 7 = 3 * 2 + 1 (1 es el residuo de la división)
7 %  3

1

In [39]:
6 %2

# r = 0 -> division es exacta
# division es exacta -> '6' es multiplo de '2'

0

#### Otras Operaciones Básicas

In [40]:
int(3.55) # int() -> convierte otro tipo de dato a entero

3

In [44]:
int('3    ') # Convierto String a entero

3

In [45]:
float(3) # Convierto "int" a float

3.0

In [48]:
float('3.245') # Convierto "String" a float

3.245

### Ejercicios

1. Escribir un programa que realice la siguiente operación aritmética (Usar variables)

In [2]:
# !pip install handcalcs
import handcalcs.render

In [6]:
%%render

a =(3 + 2 / (2*5))**2

2. Calcular la Fuerza en Newtons de un cuerpo con masa m = 4 kg y una aceleracion a= 3 m/s

\begin{equation}
   F = m * a
\end{equation}

In [49]:
m=4
a=3

f=m*a

print(f)

12

In [50]:
a=(4*3)
print(a)

12

### 2.3 Tipo de Datos Booleanos

Definen un valor de Verdadero o Falso según sea el caso

Se representa: 
- verdadero = True
- falso = False

In [52]:
True

True

In [53]:
# cualquier número excepto el 0 se interpreta como verdadero
bool(1)

True

In [54]:
False

False

In [55]:
bool(0)

False

In [56]:
## Conociendo el tipo de dato
type(True)

bool

#### 3.2 Operadores Relacionales (De comparación)

Sirven para comparar dos valores, dependiendo del resultado de la comparación se devolverá:

- Verdadero (True), si es cierta
- Falso (False), si no es cierta

<img src='https://programacionpython.files.wordpress.com/2008/07/signos1.jpg' align='left' width="400" height="300">

In [57]:
# Comparando dos valores 
a = 3
b ='s'
# Comparando a y b
a == b

False

In [58]:
a != b

True

In [59]:
# 'a' >5

TypeError: '>' not supported between instances of 'str' and 'int'

In [60]:
c = 5
# Mayor que
a > c

False

**Cuidado:**

Tener en cuenta lo siguiente para implementar sus lógicas

<img src='https://docs.hektorprofe.net/cdn/images/figura_1.png'>

#### 3.3 Operadores Lógicos

Encontramos 3 operadores especiales para realizar operaciones lógicas. Normalmente se utilizan para agrupar, excluir y negar expresiones. Puede ayudar echar un vistazo a esta explicación sobre las tablas de la verdad:

- Not
- And
- Or

<img src='./img/logicos.png' style="vertical-align:middle" >

In [61]:
# Hallando el valor de verdad de la siguiente expresión
(9 < 12) and (12 > 7)

True

### Ejercicios

1. Expresión a evaluar: 
        
        2 > p
para el valor p = 5

In [62]:
p=5

2>p

False

2. Expresión a evaluar: 

       8 == b and not b < 0

para el valor b = 0

In [63]:
b=0

(8==b)and(not(b<0))

False

# Notas Adicionales

In [64]:
# Jupyter Notebook no es necesario poner print
numero =3
numero

3

In [67]:
## Para este caso si es necesario el print
numero = 7

numero

x = 2

In [68]:
## El valor que quiera imprimir debe estar al final de todo
print(numero)

7

#### Funcion Type() 
Nos ayudará a conocer el tipo de dato de la variable

In [69]:
# Conociendo el tipo de dato de la variable número
type(numero)

int

In [70]:
# Pasando un numero como texto
numero_texto ='3.14'
numero_texto = float(numero_texto) # reasingacion de variable
type(numero_texto)

float

#### Operadores de Asignación

Permiten la asignación de nuevos valores a las variables de forma rápida

<b>Suma en asignación</b>
<p>Nos ayuda sumar un número dado a la variable de forma rápida </p>

In [93]:
# Defino a como 5
a = 5

In [94]:
a = a + 2
print(a)

7

In [95]:
# Aumento dos a la variable a (a = a+2)
a += 2

In [96]:
a

9

In [97]:
# a = a * 10
a *= 10
a

90